// @import '../../../../scss/variables';

button {
  margin: 0 15px;
  padding: 5px 20px;
  border-radius: 4px;
  height: 48px;
  font-size: 1rem;
  font-weight: 400;
  transition: background-color 0.2s ease-in;
  &:hover {
    background-color: #3c215b;
  }
  @media (max-width: 768px) {
    // width:100%;
    border: 1px solid;
    // margin-bottom: 20px;
  }
}
// .mat{
//     &-green{
//         color:green;
//         border: 1px solidgreen;
//     }
//     &-warn.mat-stroked-button{
//         border: 1px solid red;
//     }

// }
.mat-spinner{
    position: absolute;
    top: 30%;
    right: 20px;
}