@import "/src/scss/variables";
::ng-deep .mat {
  &-form-field {
    font-size: 0.875rem;
    width: 100%;
    &-wrapper {
      padding: 0;
    }
    .fecha &-infix {
      border-top: 0px !important;
      padding: 1rem 0 1rem 0 !important;
    }
  }
}
label.fecha {
  margin-top: 0.625rem;
}
.isvalid {
  color: $red;
}
span.isvalid {
  color: $red;
  font-size: 10px;
}
