<!-- <form class="example-form"> -->
<div class="d-flex align-items-end">
  <div class="w-75">
    <label>Selecciona el {{ title }}</label>
    <div class="clearfix"></div>
    <!-- <mat-form-field class="example-full-width w-75" appearance="outline"> -->
    <input
      type="text"
      class="w-100"
      placeholder="Ingresar valor"
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <!-- <mat-icon *ngIf="value" (click)="value = ''">close</mat-icon> -->
  </div>

  <!-- </mat-form-field> -->
  <app-button
    [load]="false"
    [class]="btnIn.class"
    [texto]="btnIn.texto"
    [color]="btnIn.color"
    (click)="sendData()"
  ></app-button>
  <!-- <button mat-button color="primary">Buscar</button> -->
  <!-- </form> -->
</div>
