@import "/src/scss/variables";

div:where(.swal2-icon) {
    width: 2.08125rem !important;
    height: 2.08125rem !important;
    color: $primary !important;
    &.swal2-info {
        border-color: $primary !important;
    }
    .swal2-icon-content {
        font-size: 1.4em !important;
        font-weight: bold;
    }
}
h2:where(.swal2-title) {
    font-size: 1rem !important;
    color: #444444 !important;
}
div:where(.swal2-container) .swal2-html-container {
    font-size: 0.875rem !important;
    color: #1f1f1f !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    width: 100%;
}
div:where(.swal2-container) div:where(.swal2-popup) {
    width: 21.4375rem !important;
}
div:where(.swal2-container) div:where(.swal2-actions) {
    margin-left: 24px !important;
    margin-right: 24px !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel {
    color: $primary !important;
    width: 100%;
    font-weight: bold;
}
