$beige: beige;
$gray: #aaa;
$gray_dark: #333;
$card-footer: beige;
$red: rgb(167, 11, 11);
$green: green;

$orange: #ffc406;
$purple: #36015a;
$purple_light: #6101a1;
$magenta: #ff01c2;




$primary: #6a4495;
$hover: #3C215B;
$font-color: #111827;
$white: #fff;
$toast: #FAF6FF;
$expanded: #F0E4FF;


// ESTADOS MONITOREO
$error: #D92D20;
$error-bg: #FEE4E2;
$completo: #008f39;
$completo-bg: #e1ffe3;
$espera: #fff;
$espera-bg: #336699;
$ejecucion: #fff;
$ejecucion-bg: #aaa;
//NAV - SIDEBAR
$sidebar: 375px;
$sidebar-content: 44px;